<?xml version='1.0' encoding='utf-8'?>
<widget id="org.pinguinorg" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>inStep</name>
    <description>
        The Simple StepCounter...
    </description>
    <author email="misha@marinenko.rf.gd" href="https://github.com/pinguinorg">
        PinguinOrg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-stepcounter" spec="^1.0.1" />
    <engine name="android" spec="^7.1.2" />
</widget>
